/.env
/.env.*
!/.env.example
/APPROVAL_WORKFLOW_PLAN.md
/build
/dist
build/
dist/
**/build/
**/dist/
/check-settings-js.js
/check_adjustments.ts
/IMPLEMENTATION_PLAN_REMAINING.md
/jsc.zip
/jsc_updated.zip
/node_modules
node_modules/
**/node_modules/
.vite/
**/.vite/
*.log
*.err.log
